/* Agregamos la lógica que le falta a Tailwind */
.animate-fade-in-up {
  animation: subir 0.6s ease-out forwards;
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
     overflow-x: hidden;
     width: 100%;
}
body{
     overflow-x: hidden;
    /* 🛡️ Bloquea el scroll horizontal "fantasma" */
     width: 100%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Ocultar barra de scroll pero mantener funcionalidad */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Opcional: que las miniaturas no se deformen */
.thumb {
    flex-shrink: 0; /* Obliga a que mantengan su ancho original */
    width: 100px;   /* Podés ajustar el tamaño a tu gusto */
    height: 100px;
}

/* Primero definimos el fondo para PC (lo que ya tenías) */
.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), 
                      url("img/auto-verde.jpg");
    background-size: cover;
    background-position: center;
}

/* EL TRUCO: Media Query para celulares (pantallas menores a 768px) */
@media (max-width: 768px) {
    .hero-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), 
                          url("img/bg-cel.jpeg"); /* <--- Foto vertical aquí */
        background-position: center bottom; /* Ajusta la posición para que se vea el auto */
    }
}